.admin {
  background-color: white;
  height: 100vh;
  display: flex;
}

.sidebar{
  border-right: 1px solid #D4D4D4;
  height: 100%;
  width: 255px;
  flex-shrink: 0;
  /* width: 13.3%; */
}

.logobox{
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
}
.logobox img {
  height: 100%;
  width: 70%;
  object-fit: contain;
  margin: auto;
}
.logobox p {
  position: absolute;
  left: 10px;
  top: 10px;
  margin: 0;
  font-size: small;
  font-weight: 900;
  color: #D9D9D9;
}

.menu {
  margin-top: 80px;
}
.menu {
  padding: 0px;
}
.menu li {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.menu button {
  height: 50px;
  width: 210px;
  border-radius: 7px;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
}

.menu-name{
  font-family: 'GangwonEduPowerExtraBoldA';
  font-size: 15px;
  padding: 0px;
  margin: 6px 0px 0px 0px;
  color: #BEBEBE;
}

.menu button:hover .menu-name{
  color: #770ABF;
}
.menu .selected {
  background-color: #D9D4EC;
  color: #3C3C3C;
}

.dashboard-icon{
  margin: 0px 14px 0px 10px;
  height: 20px;
  width: 20px;
  object-fit: contain;
}