/* 관리자 페이지 */
.admin-page {
    background-color: white;
    height: 100vh;
    display: flex;
}

/* 페이지에 공통으로 들어 갈 사이드바 */
.sidebar{
    border-right: 1px solid #D4D4D4;
    background-color: white;
    height: 100%;
    width: 255px;
    flex-shrink: 0;
    /* width: 13.3%; */
    position: fixed;
    transition: width 0.3s linear;
    z-index: 2;
}

.sidebar.collapsed {
    width: 104px;
}

.logobox{
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.logo-background-img {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    background-image: url('/public/images/soundcasttextlogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 4px;
    transition: translate 1s, scale 1s;
}

.logo-background-button {
    background : none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 70%;
    padding: 0px;
    cursor: pointer;
    border-style: none;
}
.collapsed .logo-background-button {
    height: 15%;
    width: 100%;
}

/* 사이드바 텍스트 */
.logobox p { /* ADMIN 글씨 */
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0;
    font-size: small;
    font-weight: 900;
    color: #D9D9D9;
    transition: opacity 0.3s linear;
}

/* 사이드바 축소 상태에서 텍스트 숨기기 */
.sidebar.collapsed .logobox p { /* ADMIN 글씨 */
    opacity: 0;
}

/* 사이드바 메뉴 영역 */
.sidebar-menu-ul {
    margin-top: 80px;
    padding: 0px;
}

/* 사이드바 메뉴 항목 */
.sidebar-menu-li {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 사이드바 메뉴 버튼 */
.sidebar-menu-button {
    height: 50px;
    /* width: 210px; */
    width: 81%;
    border-radius: 7px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    transition: width 0.3s linear;
    cursor: pointer;
}
.collapsed .sidebar-menu-ul button {
    width: 50%;
}

/* 사이드바 메뉴 텍스트 */
.menu-name{
    font-family: 'LeferiPoint-BlackA';
    font-size: 15px;
    padding: 0px;
    margin: 6px 0px 0px 14px;
    color: #BEBEBE;
    white-space: nowrap; 
    overflow: hidden;
    transition: width 0.3s linear;
}

/* 사이드바 축소 상태에서 메뉴 텍스트 숨기기 */
.collapsed .menu-name {
    width: -1;
}

.sidebar-menu-ul button:hover .menu-name{
    color: #770ABF;
}
.sidebar-menu-ul .selected {
    background-color: #D9D4EC;
    color: #3C3C3C;
}

/* 사이드바 메뉴 아이콘 */
.menu-icon{
    margin-left: 10px;
    height: 20px;
    width: 20px;
    object-fit: contain;

    transition: margin 0.3s linear;
}

.sidebar-toggle-button {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.sidebar-toggle-button-div {
    /* border: 1px solid red; */
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.collapsed .sidebar-toggle-button-div {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    border: 1px solid #D4D4D4;
    border-left: none;
    width: 50px;
    height: 50px;
    margin: 0px;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sidebar-toggle-button-div2 {   
    margin-left: 17px;
    width: 35px;
    height: 35px;
}

.collapsed .sidebar-toggle-button-div2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1px;
    /* border: 1px solid blue; */
    width: 51px;
    height: 50px;
    margin: 0px;
    transform: translateX(100%);
    border-style: none;
    background-color: white;
}

/* page-content.css */
.page-content {
    background-color: #F8FAFB;
    margin-left: 255px;
    transition: margin-left 0.3s linear;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* overflow-y: auto; */
}

.page-content.collapsed {
    margin-left: 104px;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}
  
.pagination button {
    height: 30px;
    width: 30px;
    background-color: white;
    border: 1px solid #D4D4D4;   
    font-weight: 500;
    margin: 0 4px;
    padding: 0px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-page-number{
    font-weight: 600;
    transform: scaleY(0.9);
}

.pagination button p {
    margin: 0;
}

.pagination button .member-page-prev-next{
    transform: scaleY(1.8);
    font-weight: 400;
}
.pagination button .member-page-prev-next2{
    transform: scaleY(0.9);
    margin-bottom: 2px;
    font-weight: 900;
}
  
.pagination button:hover:not(.pagination button:disabled,.pagination button.active) {
    background-color: #f7ebff;
}
  
.pagination button.active {
    background-color: #bf51ff;
    color: white;
    border-color: #bf51ff;
}
  
.pagination button:disabled {
    cursor: default;
    opacity: 0.5;
}